*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
img{
    width: 100%;
    object-fit: cover;
}

.contenedor{
    background-color: rgb(245, 245, 245);
    padding-bottom: 40px;    
}

.cabeza{
    padding-top: 10px;
    width: 90%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: 900;
    font-size: 20px;
}
.logo span{
    color: orange;
}

.menu{
    display: none;
}
@media (min-width:768px) {
    .menu{
        display: flex;
    }
}
.navegacion{
    display: flex;
    align-items: center;
    padding-left: 0;
    list-style: none;
}
@media (min-width:768px) {
    .navegacion{
        gap: 30px;
    }
}
@media (min-width:992px) {
    .navegacion{
        gap: 50px;
    }
}
.navegacion a{
    text-decoration: none;
    color: rgb(97, 97, 97);
    font-weight: 400;
    font-size: 15px;
}
.navegacion a:hover{
    color: black;
}
.navegacion li:last-child{
    display: flex;
    align-items: center;
    gap: 15px;
}
.navegacion li:last-child a{
   font-weight: 700; 
}
.navegacion li:last-child a:last-child{
    background-color: orange;
    color: white;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid orange;
}
.navegacion li:last-child a:last-child:hover{
    background-color: white;
    color: orange;
}

.presentacion{
    width: 90%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
@media (min-width:768px) {
    .presentacion{
        flex-direction: row;
    }
}

.informacion{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media (min-width:768px) {
    .informacion{
        text-align: start;
        align-items: flex-start;
    }
}
.informacion--boton a{
    padding: 10px;
    background-color: orange;
    border: 1px solid orange;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
}
.informacion--boton a:hover{
    background-color: white;
    color: orange;
    cursor: pointer;
}

.presentacion--imagen{
    max-width: 300px;
    filter: drop-shadow(0 1mm 3mm rgba(255,166,0,0.468));
}
*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
img{
    width: 100%;
    object-fit: cover;
}

.contenedor{
    background-color: rgb(245, 245, 245);
    padding-bottom: 40px;    
}

.cabeza{
    padding-top: 10px;
    width: 90%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: 900;
    font-size: 20px;
}
.logo span{
    color: orange;
}

.informacion--boton button{
    padding: 10px;
    background-color: orange;
    border: 1px solid orange;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    font-size: 15px;
}
.informacion--boton button:hover{
    background-color: white;
    color: orange;
    cursor: pointer;
}

.presentacion--imagen{
    max-width: 300px;
    filter: drop-shadow(0 1mm 3mm rgba(255,166,0,0.468));
}
@media (min-width:456px) {
    .presentacion--imagen{
        max-width: 500px;
    }
}
@media (min-width:1024px) {
    .presentacion--imagen{
        max-width: 800px;
    }
}


.comida{
    width: 90%;
    margin-inline:auto;
}
.platos{
    margin-top: 90px;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 85px;
}

@media (min-width:992px) {
    .platos{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.comida--titulo{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 85px;
}

.plato{
    width: 80%;
    margin-inline:auto;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgba(196, 196, 196, 0.426);
}
.plato img{
    width: 150px;
    filter: drop-shadow(0 0 0.9rem orange);
    margin-top: -85px;
}
.plato p{
    font-size: 15px;
    color: rgb(63, 63, 63);
}
.plato--info{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
}
.plato--info p{
    font-weight: 900;
}
.plato--info button{
    background-color: orange;
    color: white;
    font-weight: 900;
    padding: 5px 12px;
    border-radius: 50%;
    font-size: 25px;
    
}
.plato--info button:hover{
    cursor: pointer;
}


.nosotros {
    padding: 50px 0;
    background: linear-gradient(
        90deg,
        rgb(255, 0, 0) 0%,
        rgb(241, 143, 5) 100%
    );
    background-size:cover;

    
    
}

.contenido-nosotros {
    display: flex;
    justify-content: space-between;
}


.link h3 {
    color: #000000;
    font-size: 18px;
    margin-bottom: 10px;
   
  
}

.link a {
    color: #3b3b3b;
    font-size: 17px;
    display: block;
    margin-bottom: 10px;
    text-decoration: none

}

.link{
    text-align: center;

}

.gif{
    width: 300px;
    height: 10px
    
}

.siiuuu{
width:40%;
margin-top: -250px;
float: right;


}
